<%- include("Parts/Header.ejs")%>
<%- include("Parts/Navbar.ejs")%>

<form class="form-control mb-5 w-75 mt-5 m-auto" method="get" action="/">
  <input type="search" class="form-control mb-3">
  <button class="btn btn-primary">Search</button>
</form>
<div class="container mt-5">
    <div class="row text-center">
      <% for(i=0 ; i < product.length ; i++){%>
        <div class="col-xl-4 col-md-6 col-12 mb-3">
            <div class="card" style="width: 18rem;">
                <img class="m-5" src="data:image/png;base64, <%= product[i].photo.toString('base64')%>" alt="Red dot" />
                <div class="card-body">
                  <h4 class="card-title">
                    <a class="text-decoration-none" href="/product/<%= product[i].id%>"><%= product[i].name%></a>
                  </h4>
                  <p>Seller Name: <span class="text-primary fw-bold"><%= product[i].seller%></span></p>
                  <!-- <p>Creation Date: <span class="text-danger"><%= product[i].creation_date%></span></p> -->
                  <form action="/cart" method="post">
                    <input class="form-control mb-5" type="number" name="amount" placeholder="Amount">
                    <input class="btn btn-primary" type="submit" value="Add To Cart">
                  </form>
                </div>
            </div>
        </div>
      <%}%>
    </div>
</div>

<%- include("Parts/Footer.ejs")%>

