<%- include("Parts/Header.ejs")%>
<%- include("Parts/Navbar.ejs")%>

<div class="container mt-5">
    <div class="row w-75 m-auto">
        <div class="col-12 col-md-6">
            <img src="data:image/png;base64, <%= product[1].photo.toString('base64')%>" alt="Red dot" class="card-img-top w-50 mb-5">
            <form action="/cart" method="post">
                <input class="form-control mb-5" type="number" name="amount" placeholder="Amount">
                <input class="btn btn-primary" type="submit" value="Add To Cart">
            </form>
        </div>
        <div class="col-12 col-md-6">
            <h4><%= product[1].name%></h4>
            <p>Seller Name: <span class="text-primary fw-bold"><%= product[1].seller%></span></p>
            <p><%= product[1].description%></span></p>
        </div>
    </div>
</div>

<%- include("Parts/Footer.ejs")%>

