<%- include("Parts/Header.ejs")%>
<%- include("Parts/Navbar.ejs")%>

<div class="container mt-5 text-center">
  <h1 class="mb-5">Create Account</h1>
    <form class="row g-3" action="" method="post">
        <input type="text" name="_name" class="form-control" id="inputName" placeholder="Enter Your User Name">
        <input type="email" name="_email" class="form-control" id="inputEmail4" placeholder="Enter Your Email">
        <input type="password" name="_password" class="form-control" id="inputPassword4" placeholder="Enter Password">
        <% if(typeof msg != 'undefined'){ %>
        <div class="success-msg text-primary fw-bold"><%= msg %></div><% }
        if(typeof error !== 'undefined'){ %>
        <div class="err-msg text-danger fw-bold"><%= error %></div><% } %>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Sign up</button>
        </div>
        <div>
            Already Have Account ? <a href="/login" class="btn">Login</a>
        </div>
    </form>
</div>

<%- include("Parts/Footer.ejs")%>

